<layout name="layout" />
<div class="pageheader">
    <h1 class="pagetitle">用户管理</h1>
    <span class="pagedesc">新增用户</span>
    <!--<ul class="hornav">-->
    <!--<!--<li><a href="#updates">最新更新</a></li>-->
    <!--<li class="current"><a href="#activities">最近活动</a></li>-->
    <!--</ul>-->
</div><!--pageheader-->

<div id="contentwrapper" class="contentwrapper">

    <div id="updates" class="subcontent">

            <form class="stdform stdform2" method="post" action="{:U('Admin/Rbac/addUserHandle')}">
                <p>
                    <label>学号</label>
                    <span class="field"><input type="text" name="stu_num" id="firstname2" class="longinput" /></span>
                </p>

                <p>
                    <label>身份证后六位</label>
                    <span class="field"><input type="text" name="stu_idcard" id="lastname2" class="longinput" /></span>
                </p>

                <!--<p>-->
                    <!--<label>Radio Buttons</label>-->
                            <!--<span class="field">-->
                            	<!--<input type="radio" name="radiofield" /> Unchecked Radio &nbsp; &nbsp;-->
                            	<!--<input type="radio" name="radiofield" checked="checked" /> Checked Radio &nbsp; &nbsp;-->
                                <!--<input type="radio" name="radiofield" disabled="disabled" /> Disabled Radio  &nbsp; &nbsp;-->
                                <!--<input type="radio" name="radiofield" checked="checked" disabled="disabled" /> Disabled Radio-->
                            <!--</span>-->
                <!--</p>-->

                <p>
                    <label>邮箱</label>
                    <span class="field"><input type="text" name="email" id="email2" class="longinput" /></span>
                </p>

                <p>
                    <label>昵称</label>
                    <span class="field"><input type="text" name="nickname" id="email2" class="longinput" /></span>
                </p>

                <p>
                    <label>真实姓名</label>
                    <span class="field"><input type="text" name="realname" id="email2" class="longinput" /></span>
                </p>

                <p>
                    <label>密码</label>
                    <span class="field"><input type="password" name="password" id="email2" class="longinput" /></span>
                </p>

                <!--<p>-->
                    <!--<label><small>You can put your own description for this field here.</small></label>-->
                    <!--<span class="field"><textarea cols="80" rows="5" name="location" id="location2" class="longinput"></textarea></span>-->
                <!--</p>-->

                <p>
                    <label>权限</label>
                            <span class="field"><select name="role" id="selection2">
                                <volist name="role" id="vo">
                                    <option value="{$vo.id}">{$vo.remark}</option>
                                </volist>
                            </select></span>
                </p>

                <p class="stdformbutton">
                    <button class="submit radius2">提交</button>
                    <input type="reset" class="reset radius2" value="重置" />
                </p>
            </form>
        <div class="two_third dashboard_left">

        </div><!--two_third dashboard_left -->
        <div class="one_third last dashboard_right">

        </div><!--one_third last-->
    </div><!-- #updates -->
    <div id="activities" class="subcontent" style="display: none;">
        &nbsp;
    </div><!-- #activities -->
</div><!--contentwrapper-->
<br clear="all" />
<script type="text/javascript" src="__PUBLIC__/js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/charCount.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/ui.spinner.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/chosen.jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/custom/general.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/custom/forms.js"></script>

<!--[if IE 9]>
<link rel="stylesheet" media="screen" href="__PUBLIC__/css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" media="screen" href="__PUBLIC__/css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
<script src="__PUBLIC__/lib/plugins/css3-mediaqueries.lib"></script>
<![endif]-->