<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>失物招领</title>
    <script src="/LorF/src/lib/lib.flexible.js"></script>
    <script src="/LorF/src/lib/require.js" data-main="/LorF/src/lib/index.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/style/mystyle.css"/>
</head>
<body>

<header>
    <form method="post" action="U('Home/Index/search')">
        <select name="kind" id="kind">
            <option value="found">招领</option>
            <option value="lost">寻物</option>
        </select>
        <div class="trangle"></div>

        <div class="input-wrapper">
            <input type="text" placeholder="搜索关键字"/>
            <button type="submit"><i class="iconfont">&#xe612;</i></button>
        </div>
    </form>
    <span class="i-wrapper">

                <a href="userInfo.html"><i class="iconfont">&#xe6a4;</i></a>
                <i class="iconfont">&#xe628;</i>
    </span>
</header>

<nav>
    <div class="active">寻物启事</div>
    <div>招领启事</div>
</nav>

<section class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide tab1">
            <foreach name="lost" item="vo">
                <div class="list">
                    <!--<span class="logo"></span>-->
                    <img class="logo" src="{$vo.relace_head_url}" alt="">
                    <div class="userInfo">
                        <p class="title">{$vo.pro_name}</p>
                        <p class="user">发布者：<span class="username">{$vo.relace_user_name}</span></p>
                    </div>

                    <div class="content">
                        {$vo.pro_description}
                    </div>

                    <p class="date">{$vo.create_time|date='Y/m/d',###}</p>
                </div>
            </foreach>

            <script id="template" type="x-tmpl-mustache">
                {{#nextPage}}
                    <div class="list">
                        <img class="logo" src="images/logo.jpeg" alt=""/>
                        <div class="userInfo">
                            <p class="title">{{pro_name}}</p>
                            <p class="user">发布者：<span class="username">shabi</span></p>
                        </div>

                        <div class="content">
                            上米娜有东西好啊好哈收到货健康
                        </div>

                        <p class="date">2015-11-19</p>
                    </div>
                {{/nextPage}}
            </script>

            <div class="button" data-id="0">更多</div>
        </div>

        <div class="swiper-slide tab2">
            <foreach name="found" item="vo">
                <div class="list">
                    <!--<span class="logo"></span>-->
                    <img class="logo" src="{$vo.relace_head_url}" alt="">
                    <div class="userInfo">
                        <p class="title">{$vo.pro_name}</p>
                        <p class="user">发布者：<span class="username">{$vo.relace_user_name}</span></p>
                    </div>

                    <div class="content">
                        {$vo.pro_description}
                    </div>

                    <p class="date">{$vo.create_time|date='Y/m/d',###}</p>
                </div>
            </foreach>

            <script id="template" type="x-tmpl-mustache">
                {{#nextPage}}
                    <div class="list">
                        <img class="logo" src="images/logo.jpeg" alt=""/>
                        <div class="userInfo">
                            <p class="title">{{pro_name}}</p>
                            <p class="user">发布者：<span class="username">shabi</span></p>
                        </div>

                        <div class="content">
                            上米娜有东西好啊好哈收到货健康
                        </div>

                        <p class="date">2015-11-19</p>
                    </div>
                {{/nextPage}}
            </script>

            <div class="button" data-id="0">更多</div>
        </div>

    </div>

</section>
</body>
</html>