<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>失物招领</title>
    <script src="/LorF/src/lib/lib.flexible.js"></script>
    <script src="/LorF/src/lib/require.js" data-main="/LorF/src/lib/index.js?hash=fwsfeagf"></script>
    <link rel="stylesheet" href="__PUBLIC__/style/mystyle.css?hash=fweafesaf"/>
</head>
<body>

<header>
    <form method="post" action="{:U('Home/Index/search', '', '');}">
        <select name="kind" id="kind">
            <option value="1">招领</option>
            <option value="0">寻物</option>
        </select>
        <div class="trangle"></div>

        <div class="input-wrapper">
            <input name="searchName" type="text" placeholder="搜索关键字"/>
            <button type="submit"><i class="iconfont">&#xe601;</i></button>
        </div>
    </form>
    <span class="i-wrapper">

                <a href="{:U('Home/UserInfo/index','','')}"><i class="iconfont">&#xe602;</i></a>
                <a id="url" href="{:U('Home/Relace/index','','')}"><i class="iconfont">&#xe603;</i></a>
    </span>
</header>

<nav>
    <div class="active">寻物启事</div>
    <div>招领启事</div>
</nav>

<section class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide tab1">
            <div id="template-wrapper">
                <foreach name="lost" item="vo">
                    <div class="list" detail-url="{$vo.detail_url}">
                        <!--<span class="logo"></span>-->
                        <img class="logo" src="{$vo.relace_head_url}" alt="">
                        <div class="userInfo">
                            <p class="title">{$vo.pro_name}</p>
                            <p class="user">发布者：<span class="username">{$vo.relace_user_name}</span></p>
                        </div>

                        <div class="content">
                            {$vo.pro_description}
                        </div>

                        <p class="date">{$vo.create_time|date='Y/m/d',###}</p>
                    </div>
                </foreach>
                <script id="template" type="x-tmpl-mustache">
                    {{#nextPage}}
                        <a href="{{detail_url}}">
                            <div class="list">
                                <img class="logo" src="{{relace_head_url}}" alt=""/>
                                <div class="userInfo">
                                    <p class="title">{{kind_name}}</p>
                                    <p class="user">发布者：<span class="username">{{connect_people}}</span></p>
                                </div>

                                <div class="content">{{pro_description}}</div>

                                <p class="date">2015-11-19</p>
                            </div>
                        </a>
                    {{/nextPage}}
                </script>
            </div>
            <div class="button" data-id="0">更多</div>
        </div>

        <div class="swiper-slide tab2">
            <div id="template-wrapper-1">
                <foreach name="found" item="vo">
                    <div class="list"  detail-url="{$vo.detail_url}">
                        <!--<span class="logo"></span>-->
                        <img class="logo" src="{$vo.relace_head_url}" alt="">
                        <div class="userInfo">
                            <p class="title">{$vo.pro_name}</p>
                            <p class="user">发布者：<span class="username">{$vo.relace_user_name}</span></p>
                        </div>

                        <div class="content">
                            {$vo.pro_description}
                        </div>

                        <p class="date">{$vo.create_time|date='Y/m/d',###}</p>
                    </div>
                </foreach>
                <script id="template-1" type="x-tmpl-mustache">
                    {{#nextPage}}
                        <a href="{{detail_url}}">
                            <div class="list">
                                <img class="logo" src="{{relace_head_url}}" alt=""/>
                                <div class="userInfo">
                                    <p class="title">{{kind_name}}</p>
                                    <p class="user">发布者：<span class="username">{{connect_people}}</span></p>
                                </div>

                                <div class="content">{{pro_description}}</div>

                                <p class="date">2015-11-19</p>
                            </div>
                        </a>
                    {{/nextPage}}
                </script>
            </div>
            <div class="button" data-id="1">更多</div>
        </div>

    </div>

</section>
</body>
</html>