<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>搜索详情</title>
    <script src="/LorF/src/lib/lib.flexible.js"></script>
    <script src="/LorF/src/lib/tools/fastclick.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/style/searchResult.css?hash=faefllojkaee"/>
</head>
<body>
<header>
    <i class="iconfont" id="back">&#xe604;</i>
    <span class="title">搜索结果</span>
    <a href="{:U('Home/UserInfo/index', '','')}"><i class="iconfont user">&#xe602;</i></a>
</header>

<nav>
    <p class="tip">以下为
        <if condition="$kind eq 1">招领
            <else /> 寻物
        </if>
        搜索结果</p>
</nav>

<section>

    <if condition="$result['searchNull'] eq 1">
        <p class="null">没有搜索结果-.-</p>
        <else />

        <foreach name="result" item="vo">
            <a href="{$vo.detail_url}">
                <div class="list">
                    <!--<span class="logo"></span>-->
                    <img class="logo" src="{$vo.relace_head_url}" alt="">
                    <div class="userInfo">
                        <p class="title">{$vo.pro_name}</p>
                        <p class="user">发布者：<span class="username">{$vo.relace_user_name}</span></p>
                    </div>

                    <div class="content">
                        {$vo.pro_description}
                    </div>

                    <p class="date">{$vo.create_time|date='Y/m/d',###}</p>
                </div>
            </a>
        </foreach>

    </if>

</section>

<script>

    window.addEventListener('load', function() {
        FastClick.attach(document.body);
    }, false);


    window.onload = function(){
        var back = document.querySelector("#back");
        var oauth2Url = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx81a4a4b77ec98ff4&redirect_uri=http%3A%2F%2Fhongyan.cqupt.edu.cn%2FLorF%2Findex.php%2FHome%2FIndex%2Findex&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect";
        back.addEventListener('click',function(){
            location.href = oauth2Url;
        },false)
    }
</script>
</body>
</html>