<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索详情</title>
    <script src="/LorF/src/lib/lib.flexible.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/style/searchResult.css"/>
</head>
<body>
<header>
    <i class="iconfont back">&#xe608;</i>
    <span class="title">搜索结果</span>
    <i class="iconfont user">&#xe6a4;</i>
</header>

<nav>
    <p class="tip">以下为“招领启事”的搜索结果</p>
</nav>


<section>
    <foreach name="result" item="vo">
        <div class="list">
            <!--<span class="logo"></span>-->
            <img class="logo" src="{$vo.relace_head_url}" alt="">
            <div class="userInfo">
                <p class="title">{$vo.pro_name}</p>
                <p class="user">发布者：<span class="username">{$vo.relace_user_name}</span></p>
            </div>

            <div class="content">
                {$vo.pro_description}
            </div>

            <p class="date">{$vo.create_time|date='Y/m/d',###}</p>
        </div>
    </foreach>
</section>
</body>
</html>