<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lost And Found</title>
    <script src="/LorF/src/lib/lib.flexible.js"></script>
    <script src="/LorF/src/lib/require.js" data-main="/LorF/src/lib/release.js?hash=fwefa"></script>
    <link rel="stylesheet" href="__PUBLIC__/style/release.css?hash=aergag"/>
</head>
<body>
<header>
    <i class="iconfont" id="back">&#xe604;</i>
    <span class="title" id="release">发布</span>
</header>

<nav class="species">
    <label id="align"><input name="LorF" type="radio" value="2" checked="true" />寻物</label>
    <label><input name="LorF" type="radio" value="1"/>招领</label>
</nav>
<nav class="kind">
    <select name="kind" id="kind">
        <foreach name="kinds" item="vo" >
            <option value="{$vo.kind_id}">{$vo.kind_name}</option>
        </foreach>
    </select>
    <i class="iconfont">&#xe600;</i>

</nav>
<section class="inputs">
    <textarea placeholder="请填入50字以内的描述..."></textarea>
    <div class="input-div space">
        <span class="left"><span class="align-left">时</span> <span class="align">间</span></span>
        <div class="input-wrapper">
            <input type="date"/>
            <i class="iconfont">&#xe600;</i>
        </div>
    </div>
    <div class="input-div">
        <span class="left"><span class="align-left">地</span> <span class="align">点</span> </span>
        <div class="input-wrapper">
            <input type="text" name="place" placeholder="请填写地点" />
        </div>
    </div>
    <div class="input-div">
        <span class="left"><span class="align-left">电</span> <span class="align">话</span> </span>
        <div class="input-wrapper">
            <input type="text" name="phone" value="{$info.phone_num}"/>
        </div>
    </div>
    <div class="input-div">
        <span class="left"><span class="align-left">Q</span> <span class="align">Q</span> </span>
        <div class="input-wrapper">
            <input type="text" name="QQ" placeholder="请填写你的QQ号" value="{$info.tencent_num}" />
        </div>
    </div>
</section>
</body>
</html>