<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息发布</title>
    <script src="/LorF/src/lib/lib.flexible.js"></script>
    <script src="/LorF/src/lib/tools/jquery.min.js"></script>
    <script src="/LorF/src/lib/tools/fastclick.js"></script>
    <script src="/LorF/src/lib/tools/mustache.min.js"></script>
    <script src="/LorF/src/lib/tools/swiper.js"></script>
    <script src="/LorF/src/lib/tools/DateTimePicker.js"></script>

    <link rel="stylesheet" href="__PUBLIC__/style/release.css"/>
    <link rel="stylesheet" href="__PUBLIC__/style/DateTimePicker.css"/>
</head>
<body>
<header>
    <i class="iconfont" id="back">&#xe604;</i>
    <span class="title" id="release">发布</span>
</header>

<nav class="species">
    <label id="align"><input name="LorF" type="radio" value="0" checked="true" />寻物</label>
    <label><input name="LorF" type="radio" value="1"/>招领</label>
</nav>
<nav class="kind">
    <select name="kind" id="kind">
        <foreach name="kinds" item="vo" >
            <option value="{$vo.kind_id}">{$vo.kind_name}</option>
        </foreach>
    </select>
    <i class="iconfont">&#xe600;</i>

</nav>
<section class="inputs">
    <textarea placeholder="请填入50字以内的描述..."></textarea>
    <div class="input-div space">
        <span class="left"><span class="align-left">时</span> <span class="align">间</span></span>
        <div class="input-wrapper">
            <input id="date" type="text" data-field="date" readonly>
            <div id="dtBox"></div>
            <i class="iconfont">&#xe600;</i>
        </div>

    </div>
    <div class="input-div">
        <span class="left"><span class="align-left">地</span> <span class="align">点</span> </span>
        <div class="input-wrapper">
            <input type="text" name="place" placeholder="请填写地点" />
        </div>
    </div>
    <div class="input-div">
        <span class="left"><span class="align-left">电</span> <span class="align">话</span> </span>
        <div class="input-wrapper">
            <input type="text" name="phone" value="{$info.phone_num}"/>
        </div>
    </div>
    <div class="input-div">
        <span class="left"><span class="align-left">Q</span> <span class="align">Q</span> </span>
        <div class="input-wrapper">
            <input type="text" name="QQ" placeholder="请填写你的QQ号" value="{$info.tencent_num}" />
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        FastClick.attach(document.body);


        $('#dtBox').DateTimePicker();

        var release = true;
        var oauth2Url = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx81a4a4b77ec98ff4&redirect_uri=http%3A%2F%2Fhongyan.cqupt.edu.cn%2FLorF%2Findex.php%2FHome%2FIndex%2Findex&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect";



        $("#back").on('click',function(){
            history.back();
        })


        $('#release').on('click',function(){
            console.log(release);

            console.log(release);
            var data = {};
            data.species;
            if($("select").val() == '' || $('textarea').val() == '' || $('input[type=place]').val() =='' || $('input[type=date]').val() == ''){
                alert('请检查 不能为空');
                return;
            }

            function checked(el){
                return el.checked();
            }

            var flag = false;

            $('input[type=radio]').forEach(function(item,index){
                if(item.checked == true){
                    flag = true;
                    data.species = $('input[type=radio]').eq(index).val();
                    return;
                }
            })

            if(flag == false){
                alert('请选择发布种类');
                return;
            }

            data.kind = $("select").val();
            data.content = $('textarea').val();
            data.date = $('input[type=date]').val();
            data.place = $('input[name=place]').val();
            data.phone = $('input[name=phone]').val();
            data.qq = $('input[name=QQ]').val();

            //console.log(data);
            if(release){
                $.ajax({
                    type:'POST',
                    url:'handleInfo',
                    data:data,
                    success:function(res){
                        console.log(res);
                        release = false;
                        res.status === 0 ?alert('修改失败'):location.href = oauth2Url;
                    }

                })
            }else{
                alert('请勿提交两次');
                return;
            }

        })


    })

</script>
</body>
</html>