@import "varible.less";
.global-normalize();


body{
  background: #ebeef5;
}



header{
  height:105rem/@psdWidth;
  line-height: 105rem/@psdWidth;
  background-color: @themeColor;
  color:#fcfcfd;
  ul{
    display: inline-block;
    list-style-type: none;
    margin:0;
    padding:0;
    width:140rem/@psdWidth;
    height:105rem/@psdWidth;
    //overflow: hidden;
    .trangle{
      width:0;
      height:0;
      border:8rem/@psdWidth solid;
      position: absolute;
      right:0;
      bottom:10rem/@psdWidth;
      border-color:transparent #FFFFFF #FFFFFF transparent;
    }
    li{
      margin:0;
      padding:0;
      .fz(33.74px);
      text-align: center;
      line-height: 105rem/@psdWidth;
    }
    .pull-down{
      position: relative;
    }


  }
  .i-wrapper{
    float: right;
    height: 100%;
  }
  i{
    .fz(48px);
    margin-right: 20rem/@psdWidth;
  }


}

nav{
  height:90rem/@psdWidth;
  line-height: 90rem/@psdWidth;
  border:1px solid #d4d7dc;
  background-color:#fcfcfd;
  .fz(34px);
  box-sizing: border-box;
  div{
    width:50%;
    float: left;
    height:100%;
    text-align: center;
  }
  .active{
    color:@themeColor;
    border-bottom:5rem/@psdWidth solid @themeColor;
    box-sizing: border-box;
  }
}

section{
  width:100%;
  height:auto;
  overflow: hidden;
  .swiper-wrapper{
    width:200%;
    height:auto;
    .box-sizing(border-box);
    .swiper-slide{
      float:left;
      width:50%;
    }
  }
  .list{
    background-color:#fcfcfd;
    margin-top: 15rem/@psdWidth;
    border-top:1px solid #d4d7dc;
    border-bottom: 1px solid #d4d7dc;
    padding: 20rem/@psdWidth;
    .clearfix();

    .logo{
      float: left;
      width:80rem/@psdWidth;
      height:80rem/@psdWidth;
      border-radius: 50%;
      background-image: url('../images/logo.jpeg');
      background-size: contain;
    }
    .userInfo{
      margin-left: 95rem/@psdWidth;

    }
    p{
      margin:0;
      padding:0;
    }
    .title{
      color:@fontColor;
      .fz(32px);
    }
    .user{
      color:@userColor;
      .fz(24px);
      margin-top: 15rem/@psdWidth;
    }
    .content{
      margin-top: 25rem/@psdWidth;
      .title
    }
    .date{
      float: right;
      color:#b8b9b9;
      .fz(24px);
    }
  }



}