@import "varible.less";

.global-normalize();

body{
  background-color: #f6f6f8;
}

header{
  height:105rem/@psdWidth;
  line-height: 105rem/@psdWidth;
  background-color: @themeColor;
  color:#fcfcfd;
  #back{
    margin-left: 35rem/@psdWidth;
    .fz(40px);
  }
  .title {
    margin-right: 35rem/@psdWidth;
    float: right;
    .fz(33.74px);
  }

}
.species{
  .clearfix();
  height:105rem/@psdWidth;
  line-height: 105rem/@psdWidth;
  label{
    width:50%;
    float: left;
    box-sizing: border-box;
    .fz(33.74px);
    input{
      margin-left: 5rem/@psdWidth;
    }
  }
  #align{
    padding-left: 35rem/@psdWidth;
  }

}

.kind{
  height: 105rem/@psdWidth;
  line-height: 105rem/@psdWidth;
  border-bottom:1px solid #cfd2d0;
  color:#fcfcfd;
  position:relative;
  select{
    background: transparent;
    -webkit-appearance: none;
    height:105rem/@psdWidth;
    outline: none;
    border:none;

    .fz(33.74px);
    color:#202024;
    width:95.5%;
    margin-left: 4.5%;

  }
  i{
    .fz(40px);
    position: absolute;
    right:30rem/@psdWidth;
    color:#cfd2d0;
    top:50%;
    transform: translate(0,-50%);
    z-index: -233;
  }
}


.inputs{

  textarea{
    width:100%;
    height:415rem/@psdWidth;
    display: inline-block;
    border-bottom: 1px solid #cfd2d0;
    padding:30rem/@psdWidth;
    background-color:#f6f6f8;
    .box-sizing(border-box);
    border:none;
    outline: hidden;
    .fz(24px);
  }
  .space{
    margin-top:5rem/@psdWidth;
    border-top: 1px solid #dbdbdc;
    position: relative;
  }
  .input-div{
    width:100%;
    height:90rem/@psdWidth;
    border-bottom:1px solid #dbdbdc;
    box-sizing: border-box;
    overflow: hidden;

    .clearfix();
    .left{
      color:#232020;
      .fz(30px);
      float:left;
      margin:30rem/@psdWidth;
      width:65rem/@psdWidth;
    }
    .align-left{
      float: left;
    }
    .align{
      float: right;
    }
    .input-wrapper{
      margin-left: 125rem/@psdWidth;
      height:100%;
    }
    #date{
      z-index:233;
    }
    input{
      outline: none;
      border:none;
      height:100%;
      width:100%;
      background-color: #f6f6f8;
      box-sizing: border-box;
      .fz(30px);
    }
    i{
      .fz(40px);
      position: absolute;
      right:30rem/@psdWidth;
      color:#cfd2d0;
      top:50%;
      transform: translate(0,-50%);
    }
  }
}