<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>后台管理</title>
    <link rel="stylesheet" href="__PUBLIC__/css/style.default.css" type="text/css" />
</head>
<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">REDROCK.<span>后台管理</span></h1>
            <span class="slogan">红岩网校</span>
            <br clear="all" />
        </div><!--left-->
        <div class="right">
            <div class="userinfo">
                <img src="__PUBLIC__/images/thumbs/avatar.png" alt="" />
                <span>管理员</span>
            </div><!--userinfo-->
            <div class="userinfodrop">
                <div class="avatar">
                    <a href=""><img src="__PUBLIC__/images/thumbs/avatarbig.png" alt="" /></a>

                </div><!--avatar-->
                <div class="userdata">
                    <h4>{$user_name}</h4>
                    <span class="email">{$user_email}</span>
                    <ul>
                        <li><a href="{:U('Admin/Index/logout');}">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->

    <div class="header">
        <ul class="headermenu">
            <li><a href="{:U('Admin/Index/index')}"><span class="icon icon-flatscreen"></span>首页</a></li>
            <li><a href="{:U('Admin/Check/index')}"><span class="icon icon-pencil"></span>审核</a></li>
            <li><a href="{:U('Admin/Relace/index')}"><span class="icon icon-message"></span>发布</a></li>
            <li><a href="{:U('Admin/Manage/index')}"><span class="icon icon-speech"></span>管理</a></li>
            <li><a href="{:U('Admin/Score/index')}"><span class="icon icon-chart"></span>积分</a></li>
        </ul>
    </div><!--header-->

    <div class="vernav2 iconmenu">
        <ul>
            <li><a href="{:U('Admin/Check/index')}" class="editor">审核</a>
                <!--<span class="arrow"></span>-->
                <!--<ul id="formsub">-->
                    <!--<li><a href="{:U('Admin/Rbac/index')}">用户列表</a></li>-->
                    <!--<li><a href="{:U('Admin/Rbac/role')}">权限列表</a></li>-->
                    <!--<li><a href="{:U('Admin/Rbac/node')}">节点列表</a></li>-->
                <!--</ul>-->
            </li>
            <li><a href="{:U('Admin/Relace/index')}" class="elements">发布</a>
                <!--<span class="arrow"></span>-->
                <!--<ul id="project">-->
                    <!--<li><a href="#">应用列表</a></li>-->

                <!--</ul>-->
            </li>
            <li><a href="{:U('Admin/Manage/index')}" class="tables">管理</a>
                <!--<span class="arrow"></span>-->
                <!--<ul id="integral">-->
                    <!--<li><a href="{:U('Admin/Score/scoreDetail')}">积分细则</a></li>-->
                    <!--<li><a href="{:U('Admin/Score/scoreLevel')}">积分等级</a></li>-->

                <!--</ul>-->
            </li>
            <li><a href="{:U('Admin/Score/index')}" class="support">积分</a></li>
        </ul>
        <a class="togglemenu"></a>
        <br /><br />
    </div><!--leftmenu-->
    <div class="centercontent">
            {__CONTENT__}
        <br clear="all" />
    </div><!-- centercontent -->
</div><!--bodywrapper-->
</body>
</html>