<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <script src="/LorF/src/lib/lib.flexible.js"></script>
    <script src="/LorF/src/lib/require.js" data-main="/LorF/src/lib/userInfo.js?hash=aeaae"></script>
    <link rel="stylesheet" href="__PUBLIC__/style/userInfo.css?hash=fawef"/>
</head>
<body ms-controller="userInfo">

<header>
    <img class="logo" src="{$selfInfo.headImgUrl}" alt="">
    <p class="username">{$selfInfo.stu_name}</p>
    <a href="{:U('Home/FirstVisit/index','','')}"><span class="update"><i class="iconfont">&#xe607;</i>修改</span></a>
</header>

<nav>
    <div class="lis active">未解决</div>
    <div class="lis">已解决</div>
</nav>

<section class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide tab1">
            <div id="template-wrapper">
                <foreach name="selfRelace" item="vo">
                    <a href="{$vo.detail_url}">
                        <div class="list" data-id="{$vo.pro_id}">
                            <!--<span class="logo"></span>-->
                            <img src="{$vo.relace_head_url}" alt="" class="logo">
                            <div class="userInfo">
                                <p class="title">{$vo.pro_name}</p>
                                <p class="user">发布者：<span class="username">{$vo.relace_user_name}</span></p>
                            </div>

                            <div class="content">
                                {$vo.pro_description}
                            </div>

                            <p class="date">{$vo.create_time|date='Y/m/d',###}</p>

                        <span class="solved">
                            已解决?
                        </span>
                        </div>
                    </a>
                </foreach>

                <script id="template" type="x-tmpl-mustache">
                    {{#nextPage}}
                            <div class="list" detail-url="{{detail_url}}" data-Id="{{pro_id}}">
                                <img class="logo" src="{{relace_head_url}}" alt=""/>
                                <span class="solved">已解决?</span>
                                <div class="userInfo">
                                    <p class="title">{{kind_name}}</p>
                                    <p class="user">发布者：<span class="username">{{connect_people}}</span></p>
                                </div>

                                <div class="content">{{pro_description}}</div>

                                <p class="date">2015-11-19</p>
                            </div>
                    {{/nextPage}}
                </script>
            </div>


            <div class="button" data-id="1">更多</div>
        </div>

        <div class="swiper-slide tab2">
            <div id="template-wrapper-1">
                <foreach name="selfDone" item="vo">
                    <a href="{$vo.detail_url}">
                        <div class="list" detail-id="{$vo.pro_id}">
                            <!--<span class="logo"></span>-->
                            <img src="{$vo.relace_head_url}" alt="" class="logo">
                            <div class="userInfo">
                                <p class="title">{$vo.pro_name}</p>
                                <p class="user">发布者：<span class="username">{$vo.relace_user_name}</span></p>
                            </div>

                            <div class="content">
                                {$vo.pro_description}
                            </div>

                            <p class="date">{$vo.create_time|date='Y/m/d',###}</p>
                        <span class="solved">
                            已解决?
                        </span>
                        </div>
                    </a>
                </foreach>

                <script id="template-1" type="x-tmpl-mustache">
{{#nextPage}}
                            <div class="list" detail-url="{{detail_url}}" data-Id="{{pro_id}}">
                                <img class="logo" src="{{relace_head_url}}" alt=""/>
                                <img src="images/flag.png" alt="" class="flag"/>
                                <div class="userInfo">
                                    <p class="title">{{kind_name}}</p>
                                    <p class="user">发布者：<span class="username">{{connect_people}}</span></p>
                                </div>

                                <div class="content">{{pro_description}}</div>

                                <p class="date">2015-11-19</p>
                            </div>
                    {{/nextPage}}
                </script>
            </div>

            <div class="button" data-id="2">更多</div>
        </div>

    </div>
</section>

<section class="shade"></section>

<div class="banner">
    <p>确认已解决？</p>

    <div class="cancel">取消</div>
    <div class="ensure">确认</div>
</div>

<!--<script src="/LorF/src/lib/userInfo.js"></script>-->
</body>
</html>