<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>信息详情</title>
    <script src="/LorF/src/lib/lib.flexible.js"></script>
    <link rel="stylesheet" href="/LorF/src/style/detail.css"/>
</head>
<body>
<header>
    <i class="iconfont" id="back">&#xe604;</i>
    <span class="title">信息详情</span>
</header>

<section>
    <div id="user" class="list">
        <!--<span class="logo"></span>-->
        <img class="logo" src="{$detail['relace_head_url']}" alt="">
        <div class="userInfo">
            <span class="title">{$detail['pro_name']}</span></span>
            <span class="date">{$detail['create_time']|date='Y/m/d',###}</span>
            <p class="user">发布者：<span class="username">{$detail['relace_user_name']}</span></p>
        </div>
    </div>
    <div id="describe" class="list">
        <p class="left">描 <span class="align">述</span></p>
        <div class="detail right">
            {$detail['pro_description']}
        </div>
    </div>
    <div id="time" class="list">
        <p class="left">时 <span class="align">间</span></p>
        <p class="right">{$detail['L_or_F_time']|date='Y/m/d',###}</p>
    </div>
    <div id="place" class="list">
        <p class="left">地 <span class="align">点</span></p>
        <p class="right">{$detail['L_or_F_place']}</p>
    </div>
    <div id="contact" class="list">
        <p class="left">联系人</p>
        <p class="right">{$detail['connect_people']}</p>
    </div>
    <div id="number" class="list">
        <p class="left">电 <span class="align">话</span></p>
        <p class="right">{$detail['phone']}</p>
    </div>
    <div id="QQ" class="list">
        <p class="left">Q <span class="align">Q</span></p>
        <p class="right">{$detail['qq']}</p>
    </div>
</section>
<script>
    window.onload = function(){
        var oauth2Url = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx81a4a4b77ec98ff4&redirect_uri=http%3A%2F%2Fhongyan.cqupt.edu.cn%2FLorF%2Findex.php%2FHome%2FIndex%2Findex&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect";
        var back = document.querySelector("#back");
        back.addEventListener('click',function(){
//            history.back();
            location.href = oauth2Url;
        },false)
    }
</script>
</body>
</html>