<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>完善信息</title>
    <script src="/LorF/src/lib/lib.flexible.js"></script>
    <script src="/LorF/src/lib/require.js" data-main="/LorF/src/lib/update.js?hash=vrswedrftyb"></script>
    <link rel="stylesheet" href="__PUBLIC__/style/updateInfo.css"/>
</head>
<body>
<header>
    <i class="iconfont" id="back">&#xe608;</i>
    <span class="title">完善信息</span>
</header>

<section class="userInfo">
    <!--<span class="logo"></span>-->
    <img class="logo" src="{$userInfo.headImageUrl}" alt="">
    <p class="username">{$userInfo.nickName}</p>
</section>

<section class="inputs">
    <div class="input-div">
        <i class="iconfont">&#x3445;</i>
        <div class="input-wrapper">
            <input name="stu-number" disabled="true" type="text" value="{$userInfo.stuNum}"/>
        </div>

    </div>
    <div class="input-div">
        <i class="iconfont">&#xe6a4;</i>
        <div class="input-wrapper">
            <input name="name" disabled="true" type="text" value="{$userInfo.realName}"/>
        </div>
    </div>
    <div class="input-div">
        <i class="iconfont">&#xec76;</i>
        <div class="input-wrapper">
            <input type="text" name="phonenumber"/>
        </div>
    </div>
    <div class="input-div">
        <i class="iconfont">&#xe6bf;</i>
        <div class="input-wrapper">
            <input type="text" name="qq"/>
        </div>
    </div>
    <p class="tips">
        <i class="iconfont">&#xe623;</i>
        请至少填写一项
    </p>
</section>

<section class="buttons">
    <div class="button">确认</div>
</section>

</body>
</html>