<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>完善信息</title>
    <script src="/LorF/src/lib/lib.flexible.js"></script>
    <script src="/LorF/src/lib/require.js" data-main="/LorF/src/lib/update.js?hash=vrswrrdrfyb"></script>
    <link rel="stylesheet" href="__PUBLIC__/style/updateInfo.css?hash=vae"/>
</head>
<body>
<header>
    <i class="iconfont" id="back">&#xe604;</i>
    <span class="title">完善信息</span>
</header>

<section class="userInfo">
    <!--<span class="logo"></span>-->
    <img class="logo" src="{$userInfo.headImageUrl}" alt="">
    <p class="username">{$userInfo.nickName}</p>
</section>

<section class="inputs">
    <div class="input-div">
        <i class="iconfont">&#xe606;</i>
        <div class="input-wrapper">
            <input name="stu-number" disabled="true" type="text" value="{$userInfo.stuNum}"/>
        </div>

    </div>
    <div class="input-div">
        <i class="iconfont">&#xe602;</i>
        <div class="input-wrapper">
            <input name="name" disabled="true" type="text" value="{$userInfo.realName}"/>
        </div>
    </div>
    <div class="input-div">
        <i class="iconfont">&#xe608;</i>
        <div class="input-wrapper">
            <input type="text" name="phonenumber" value="{$userInfo.phone}" />
        </div>
    </div>
    <div class="input-div">
        <i class="iconfont">&#xe605;</i>
        <div class="input-wrapper">
            <input type="text" name="qq" value="{$userInfo.qq}" />
        </div>
    </div>
    <p class="tips">
        <i class="iconfont">&#xe609;</i>
        请至少填写一项
    </p>
</section>

<section class="buttons">
    <div class="button">确认</div>
    <p class="statment">红岩网校工作站&校青协</p>
</section>

</body>
</html>